<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <UnitTests.Properties.Settings>
            <setting name="UnitTests_org_cuahsi_hiscentral_hiscentral" serializeAs="String">
                <value>http://hiscentral.cuahsi.org/webservices/hiscentral.asmx</value>
            </setting>
            <setting name="UnitTests_edu_sdsc_river_WaterOneFlow" serializeAs="String">
                <value>http://river.sdsc.edu/wateroneflow/NWIS/DailyValues.asmx</value>
            </setting>
        </UnitTests.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <!--<add key="ASMXURL" value="http://hiscentral.cuahsi.org/webservices/hiscentral.asmx"></add>-->
    <!--<add key="ASMXURL" value="http://sandbox.cuahsi.org/hiscentral/webservices/hiscentral.asmx"></add>-->
  </appSettings>
</configuration>